[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
coveralls = "*"
pytest = "*"
pytest-cov = "*"
asyncio = "*"
websockets = "*"
argparse = "*"
mypy = "*"
flask = "*"
wtforms = "*"

[dev-packages]

[requires]
python_version = "3.6"
